# Architecture
CONFIG_ARM=y
CONFIG_ARCH_OMAP2PLUS=y
CONFIG_AM33XX=y

CONFIG_TARGET_AM3352_EISSBOX3=y
CONFIG_DEFAULT_DEVICE_TREE="am3352_eissbox3"
CONFIG_IDENT_STRING=" EISSBox3"

# General setup
CONFIG_DISTRO_DEFAULTS=y
CONFIG_SYS_EXTRA_OPTIONS="EMMC_BOOT"
CONFIG_ARCH_MISC_INIT=y
CONFIG_MMC_OMAP_HS=y
CONFIG_DRIVER_TI_CPSW=y
CONFIG_SYS_NS16550=y

# TFTP boot
CONFIG_CMD_NET=y

# Boot media
CONFIG_BOOTDELAY=2
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="if test ${boot_fit} -eq 1; then run update_to_fit; fi; run findfdt; run init_console; run envboot; run distro_bootcmd"
# CONFIG_BOOTCOUNT_LIMIT is not set

# Autoboot options
CONFIG_AUTOBOOT=y
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_PROMPT="Press S key to abort autoboot in %d seconds\n"
CONFIG_AUTOBOOT_DELAY_STR="d"
CONFIG_AUTOBOOT_STOP_STR="s"

# SPL
CONFIG_SPL=y
CONFIG_SPL_BUILD=y
CONFIG_SPL_OS_BOOT=y
CONFIG_SPL_MUSB_NEW_SUPPORT=y
CONFIG_SPL_ETH_SUPPORT=y
CONFIG_SPL_USBETH_SUPPORT=y
# CONFIG_SPL_NAND_SUPPORT is not set
# CONFIG_SPL_EEPROM_SUPPORT is not set

# Environment
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG is not set

# Command line interface
CONFIG_EISSBOX3_COMMON_CMD_OPTIONS=y
# CONFIG_CMD_EEPROM is not set
CONFIG_CMDLINE=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="E-Box3# "

# Fastboot
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=1
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y

# USB peripherals
CONFIG_USB=y
CONFIG_USB_MUSB_HOST=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_MUSB_DSPS=y
CONFIG_USB_STORAGE=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="Texas Instruments"
CONFIG_USB_GADGET_VENDOR_NUM=0x0451
CONFIG_USB_GADGET_PRODUCT_NUM=0xd022
CONFIG_USB_ETHER=y
CONFIG_USBNET_HOST_ADDR="de:ad:be:af:00:00"
CONFIG_USBNET_DEVADDR="de:ad:be:ef:00:01"

# Library routines
CONFIG_LZO=y
CONFIG_OF_LIBFDT=y
